* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body {
    background-color: #A8C686;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    background-color: #4e342e;
    color: #F5F5DC;
    padding: 15px 20px;
    margin-bottom: 20px;
}

.restaurant-info {
    display: flex;
    flex-direction: column;
}

.about-us, .info {
    margin-left: 25px;
    margin-bottom: 10px;
}

.food, .drinks, .ice-cream {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
}

.food-picture, .drink-picture, .ice-cream-picture {
    height: 150px;
    width: 250px;
    object-fit: cover;
    border: 1px solid black;
    transition: 0.2s ease-in-out;
    border-radius: 20px;
}

p {
    font-size: 18px;
    color: black
}

.food-picture:hover, .drink-picture:hover, .ice-cream-picture:hover {
    transform: scale(1.2);
}

.restaurant-name {
    font-size: 25px;
}

.title {
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    margin-bottom: 20px;
}


.link {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}

.links a {
    text-decoration: none;
    font-size: 20px;
    transition: 0.2s ease-in-out;
    color: #F5F5DC;
}

.links a:hover {
    border: 2px solid black;
    padding: 8px;
    border-radius: 20px;
    background-color: orange;
}

.links a:visited {
    color: #F5F5DC;
}


button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #e67e22;
    color: black;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
  }  

button:hover {
    background-color: #f07304;
}

button:active {
    opacity: 0.6;
}

.fa-shopping-cart {
    cursor: pointer;
}
